{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Posts</h1>

    <a href="{{ path('app_post_new') }}">新規作成</a>

    <ul>
        {% for post in posts %}
        <li><a href="#">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
