{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<h1>Posts</h1>

<a href="{{ path('app_post_new') }}">新規作成</a>

<ul>
    {% for post in posts %}
    <li><a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
